---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;

.section--subscribe {
  width: 100%;
  background: #fff;
  padding: 1.5rem 0 0;
  position: relative;
  z-index: 400;
  text-align: center;
}
.section--subscribe h3 {
  margin-top: 1.5rem;
}

.newsletterForm-wrapper {
  padding: 1.5rem 0;
}

.button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  background: transparent;
  border-radius: 99px;
  font-family: "Roboto", sans-serif;
  letter-spacing: .02em;
  padding: 10px 40px 9px 40px;
  margin-top: 1.5rem;
  border: 2px solid rgba(119, 119, 119, 0.8);
  color: #777777;
  text-decoration: none;
  text-transform: uppercase;
}
.button:hover {
  border-color: #777777;
}
